.Watch {
    background-color: #fefefe;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Watch .form {
    position: fixed;
    right: calc(50% - 222.5px);
    top: 184px;
}
.Watch .channel-video-container{
    width: 1142px;
}
.Watch .footer-instance {
    left: 0 !important;
    position: absolute !important;
    top: 1300px !important;
    width:100%;
    z-index: 3;
}

.Watch .icon-send-square-1 {
    height: 40px !important;
    left: 1491px !important;
    position: absolute !important;
    top: 100px !important;
    width: 40px !important;
}

.Watch .overlap {
    height: 58px;

    position: absolute;
    top: 680px;
    width: 309px;
}

.Watch .path-2 {
    height: 23px;

    position: absolute;
    top: 35px;
    width: 18px;
}

.Watch .btns-2 {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    left: 0;
    position: absolute;
    top: 0;
}
.Watch .upsetText{

}
.Watch .btn-big {
    align-items: center;
    background-color: var(--violet-1);
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 7px;
    justify-content: center;
    padding: 8px 24px 10px;
    position: relative;
    z-index: 10;
}

.Watch .text-wrapper-10 {
    color: var(--wight);
    font-family: var(--desktop-paragraf-font-family);
    font-size: var(--desktop-paragraf-font-size);
    font-style: var(--desktop-paragraf-font-style);
    font-weight: var(--desktop-paragraf-font-weight);
    letter-spacing: var(--desktop-paragraf-letter-spacing);
    line-height: var(--desktop-paragraf-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    height: 24px;
}

.Watch .div-wrapper {
    align-items: center !important;
    border: 1px solid !important;
    border-color: var(--violet-1) !important;
    border-radius: 8px !important;
    display: inline-flex !important;
    flex: 0 0 auto !important;
    gap: 7px !important;
    justify-content: center !important;
    padding: 8px 24px 10px !important;
    position: relative !important;
    z-index: 10;
}

.Watch .text-wrapper-11 {
    color: var(--violet-1);
    font-family: var(--desktop-paragraf-font-family);
    font-size: var(--desktop-paragraf-font-size);
    font-style: var(--desktop-paragraf-font-style);
    font-weight: var(--desktop-paragraf-font-weight);
    letter-spacing: var(--desktop-paragraf-letter-spacing);
    line-height: var(--desktop-paragraf-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    height: 24px;
}

.Watch .icon-heart-wrapper {
    align-items: center;
    border: 1px solid;
    border-color: var(--violet-1);
    border-radius: 8px;
    display: flex;
    gap: 7px;
    height: 24px;
    justify-content: center;
    padding: 8px 8px;
    position: relative;
    width: 24px;
}

.Watch .icon-instance-node-2 {
    height: 24px !important;
    margin-left: -7.00px !important;
    margin-right: -7.00px !important;
    position: relative !important;
    width: 24px !important;
}

.Watch .rewiev {
    height: 572px;

    position: absolute;
    top: 800px;
    width: 1142px;
}

.Watch .fild {
    align-items: flex-start;
    background-color: var(--grey-4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    left: 672px;
    padding: 20px;
    position: absolute;
    top: 50px;
    width: 470px;
}

.Watch .text-wrapper-12 {
    align-self: stretch;
    color: var(--text);
    font-family: var(--desktop-h5-font-family);
    font-size: var(--desktop-h5-font-size);
    font-style: var(--desktop-h5-font-style);
    font-weight: var(--desktop-h5-font-weight);
    letter-spacing: var(--desktop-h5-letter-spacing);
    line-height: var(--desktop-h5-line-height);
    margin-top: -1.00px;
    position: relative;
}

.Watch .fild-2 {
    width: 100%; /* Растягиваем textarea на всю ширину родителя */
    height: 42px; /* Высота поля */
    padding: 10px; /* Отступы внутри поля */
    border: 1px solid #ccc; /* Обводка */
    border-radius: var(--dental-radius-radius-10); /* Радиус скругления */
    font-size: 16px; /* Размер шрифта */
    resize: none; /* Убираем возможность изменения размера */
    background-color: var(--wight); /* Цвет фона */
    box-sizing: border-box; /* Учитываем padding и border в размерах */
    outline: none; /* Убираем стандартную подсветку при фокусе */
    overflow-y: auto; /* Добавляем прокрутку, если текста слишком много */
}

.Watch .text-wrapper-13 {
    color: var(--grey-5);
    flex: 1;
    font-family: var(--desktop-paragraf-font-family);
    font-size: var(--desktop-paragraf-font-size);
    font-style: var(--desktop-paragraf-font-style);
    font-weight: var(--desktop-paragraf-font-weight);
    height: 22px;
    letter-spacing: var(--desktop-paragraf-letter-spacing);
    line-height: var(--desktop-paragraf-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
}

.Watch .frame-5 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 662px;
}

.Watch .text-wrapper-14 {
    align-self: stretch;
    color: var(--text);
    font-family: var(--desktop-h3-font-family);
    font-size: var(--desktop-h3-font-size);
    font-style: var(--desktop-h3-font-style);
    font-weight: var(--desktop-h3-font-weight);
    letter-spacing: var(--desktop-h3-letter-spacing);
    line-height: var(--desktop-h3-line-height);
    margin-top: -1.00px;
    position: relative;
}

.Watch .rew {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 100%;
}

.Watch .design-component-instance-node {
    align-self: stretch !important;
    flex: 0 0 auto !important;
}

.Watch .btn-big-2 {
    align-items: center;
    align-self: stretch;
    background-color: var(--grey-4);
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    gap: 7px;
    justify-content: center;
    padding: 8px 24px 10px;
    position: relative;
}

.Watch .text-wrapper-15 {
    color: var(--text);
    font-family: var(--desktop-paragraf-font-family);
    font-size: var(--desktop-paragraf-font-size);
    font-style: var(--desktop-paragraf-font-style);
    font-weight: var(--desktop-paragraf-font-weight);
    letter-spacing: var(--desktop-paragraf-letter-spacing);
    line-height: var(--desktop-paragraf-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.Watch .overlap-group {
    height: 37px;

    position: absolute;
    top: 680px;
    width: 1142px;
}

.Watch .tooltip-orner {

    position: absolute !important;
    top: 6px !important;
}

.Watch .tooltip-orner9 {
    text-align: center !important;
}

.Watch .info {
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    left: 0;
    position: absolute;
    top: 0;
    width: 1142px;
}

.Watch .text-wrapper-16 {
    color: var(--grey-5);
    font-family: var(--desktop-paragraf-font-family);
    font-size: var(--desktop-paragraf-font-size);
    font-style: var(--desktop-paragraf-font-style);
    font-weight: var(--desktop-paragraf-font-weight);
    letter-spacing: var(--desktop-paragraf-letter-spacing);
    line-height: var(--desktop-paragraf-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.Watch .frame-6 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 30px;
    position: relative;
}

.Watch .frame-7 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
}

.Watch .icon-eye {
    height: 16px !important;
    position: relative !important;
    width: 16px !important;
}

.Watch .text-wrapper-17 {
    color: #ff1616;
    font-family: var(--desktop-paragraf-font-family);
    font-size: var(--desktop-paragraf-font-size);
    font-style: var(--desktop-paragraf-font-style);
    font-weight: var(--desktop-paragraf-font-weight);
    left: 1px;
    letter-spacing: var(--desktop-paragraf-letter-spacing);
    line-height: var(--desktop-paragraf-line-height);
    position: absolute;
    text-align: right;
    top: 676px;
    width: 309px;
}

.Watch .text-wrapper-18 {
    color: #ff1616;
    font-family: var(--desktop-paragraf-font-family);
    font-size: var(--desktop-paragraf-font-size);
    font-style: var(--desktop-paragraf-font-style);
    font-weight: var(--desktop-paragraf-font-weight);
    left: 1549px;
    letter-spacing: var(--desktop-paragraf-letter-spacing);
    line-height: var(--desktop-paragraf-line-height);
    position: absolute;
    top: 1373px;
    width: 361px;
}

.Watch .group {
    height: 76px;

    position: absolute;
    top: 827px;
    width: 153px;
}

.Watch .icon-heart-fill-wrapper {
    align-items: center;
    border: 1px solid;
    border-color: var(--violet-1);
    border-radius: 8px;
    display: flex;
    gap: 7px;
    height: 42px;
    justify-content: center;
    left: 55px;
    padding: 6px 16px;
    position: absolute;
    top: 34px;
    width: 42px;
}

.Watch .design-component-instance-node-2 {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
}

.Watch .txt-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;

    position: absolute;
    top: 720px;
    width: 1142px;
}

.Watch .frame-8 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;
}

.Watch .txt-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
    width: 100%;
}

.Watch .text-wrapper-19 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--grey-5);
    display: -webkit-box;
    font-family: var(--desktop-paragraf-font-family);
    font-size: var(--desktop-paragraf-font-size);
    font-style: var(--desktop-paragraf-font-style);
    font-weight: var(--desktop-paragraf-font-weight);
    letter-spacing: var(--desktop-paragraf-letter-spacing);
    line-height: var(--desktop-paragraf-line-height);
    margin-top: -1.00px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    width: 234px;
}

.Watch .frame-9 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    position: relative;
}

.Watch .text-wrapper-20 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    color: var(--text);
    display: -webkit-box;
    font-family: var(--desktop-paragraf-font-family);
    font-size: var(--desktop-paragraf-font-size);
    font-style: var(--desktop-paragraf-font-style);
    font-weight: var(--desktop-paragraf-font-weight);
    letter-spacing: var(--desktop-paragraf-letter-spacing);
    line-height: var(--desktop-paragraf-line-height);
    margin-top: -1.00px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

.Watch .text-wrapper-21 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    color: var(--text);
    display: -webkit-box;
    font-family: var(--desktop-paragraf-font-family);
    font-size: var(--desktop-paragraf-font-size);
    font-style: var(--desktop-paragraf-font-style);
    font-weight: var(--desktop-paragraf-font-weight);
    letter-spacing: var(--desktop-paragraf-letter-spacing);
    line-height: var(--desktop-paragraf-line-height);
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

.Watch .video-instance {

    position: absolute !important;
    top: 85px !important;
}
