.tooltip {
    align-items: flex-start;
    box-shadow: 0px 4px 16px #0c10181f;
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.tooltip .text {
    align-items: flex-start;
    background-color: var(--wight);
    border-radius: 6px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding: 4px 8px;
    position: relative;
}

.tooltip .text-wrapper-6 {
    color: var(--text);
    font-family: var(--desktop-small-txt-font-family);
    font-size: var(--desktop-small-txt-font-size);
    font-style: var(--desktop-small-txt-font-style);
    font-weight: var(--desktop-small-txt-font-weight);
    letter-spacing: var(--desktop-small-txt-letter-spacing);
    line-height: var(--desktop-small-txt-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.tooltip .corner {
    align-self: stretch;
    height: 6px;
    position: relative;
    width: 100%;
}
