:root {
    --dental-radius-radius-10: 10px;
    --dental-radius-radius-8: 8px;
    --desktop-h1-font-family: "Manrope", Helvetica;
    --desktop-h1-font-size: 40px;
    --desktop-h1-font-style: normal;
    --desktop-h1-font-weight: 800;
    --desktop-h1-letter-spacing: 0px;
    --desktop-h1-line-height: 114.99999761581421%;
    --desktop-h2-font-family: "Manrope", Helvetica;
    --desktop-h2-font-size: 32px;
    --desktop-h2-font-style: normal;
    --desktop-h2-font-weight: 800;
    --desktop-h2-letter-spacing: 0px;
    --desktop-h2-line-height: 114.99999761581421%;
    --desktop-h3-font-family: "Manrope", Helvetica;
    --desktop-h3-font-size: 26px;
    --desktop-h3-font-style: normal;
    --desktop-h3-font-weight: 800;
    --desktop-h3-letter-spacing: 0px;
    --desktop-h3-line-height: 114.99999761581421%;
    --desktop-h4-font-family: "Manrope", Helvetica;
    --desktop-h4-font-size: 20px;
    --desktop-h4-font-style: normal;
    --desktop-h4-font-weight: 700;
    --desktop-h4-letter-spacing: 0px;
    --desktop-h4-line-height: 129.99999523162842%;
    --desktop-h5-font-family: "Manrope", Helvetica;
    --desktop-h5-font-size: 17px;
    --desktop-h5-font-style: normal;
    --desktop-h5-font-weight: 700;
    --desktop-h5-letter-spacing: 0px;
    --desktop-h5-line-height: 120.00000476837158%;
    --desktop-h6-font-family: "Manrope", Helvetica;
    --desktop-h6-font-size: 13px;
    --desktop-h6-font-style: normal;
    --desktop-h6-font-weight: 800;
    --desktop-h6-letter-spacing: 0px;
    --desktop-h6-line-height: 120.00000476837158%;
    --desktop-paragraf-font-family: "Manrope", Helvetica;
    --desktop-paragraf-font-size: 17px;
    --desktop-paragraf-font-style: normal;
    --desktop-paragraf-font-weight: 400;
    --desktop-paragraf-letter-spacing: 0px;
    --desktop-paragraf-line-height: 139.9999976158142%;
    --desktop-small-txt-font-family: "Manrope", Helvetica;
    --desktop-small-txt-font-size: 13px;
    --desktop-small-txt-font-style: normal;
    --desktop-small-txt-font-weight: 400;
    --desktop-small-txt-letter-spacing: 0px;
    --desktop-small-txt-line-height: 129.99999523162842%;
    --green-1: rgba(143, 204, 0, 1);
    --green-2: rgba(178, 241, 0, 1);
    --grey-1: rgba(254, 254, 254, 1);
    --grey-2: rgba(248, 250, 255, 1);
    --grey-3: rgba(241, 243, 248, 1);
    --grey-4: rgba(228, 230, 237, 1);
    --grey-5: rgba(158, 160, 165, 1);
    --h1-mob-font-family: "Manrope", Helvetica;
    --h1-mob-font-size: 28px;
    --h1-mob-font-style: normal;
    --h1-mob-font-weight: 800;
    --h1-mob-letter-spacing: 0px;
    --h1-mob-line-height: 129.99999523162842%;
    --h2-mob-font-family: "Manrope", Helvetica;
    --h2-mob-font-size: 24px;
    --h2-mob-font-style: normal;
    --h2-mob-font-weight: 800;
    --h2-mob-letter-spacing: 0px;
    --h2-mob-line-height: 129.99999523162842%;
    --h4-mob-font-family: "Manrope", Helvetica;
    --h4-mob-font-size: 18px;
    --h4-mob-font-style: normal;
    --h4-mob-font-weight: 700;
    --h4-mob-letter-spacing: 0px;
    --h4-mob-line-height: 129.99999523162842%;
    --h5-mob-font-family: "Manrope", Helvetica;
    --h5-mob-font-size: 15px;
    --h5-mob-font-style: normal;
    --h5-mob-font-weight: 700;
    --h5-mob-letter-spacing: 0px;
    --h5-mob-line-height: 120.00000476837158%;
    --paragraf-mob-font-family: "Manrope", Helvetica;
    --paragraf-mob-font-size: 15px;
    --paragraf-mob-font-style: normal;
    --paragraf-mob-font-weight: 400;
    --paragraf-mob-letter-spacing: 0px;
    --paragraf-mob-line-height: 139.9999976158142%;
    --text: rgba(28, 29, 47, 1);
    --violet-1: rgba(112, 71, 232, 1);
    --violet-2: rgba(197, 182, 241, 1);
    --wight: rgba(255, 255, 255, 1);
}
