.AboutUs {
    background-color: #fefefe;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.AboutUs .form {
    position: fixed;
    right: calc(50% - 222.5px);
    top: 184px;
}
.AboutUs .div-2 {
    background-color: var(--grey-1);
    height: 1241px;
    position: relative;
    width: 100%;
}

.AboutUs .overlap-group {
    height: 74px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.AboutUs .line {
    height: 3px;
    left: 778px;
    position: absolute;
    top: 58px;
    width: 57px;
}

.AboutUs .footer-instance {
    left: 0 !important;
    top: 1225px !important;
    background-color: var(--text);
    height: 314px;
    position: relative;
    width: 100%;
}

.AboutUs .icon-send-square-1 {
    height: 40px !important;
    left: 1491px !important;
    position: absolute !important;
    top: 100px !important;
    width: 40px !important;
}

.AboutUs .text-wrapper-60 {
    color: var(--text);
    font-family: var(--desktop-h1-font-family);
    font-size: var(--desktop-h1-font-size);
    font-style: var(--desktop-h1-font-style);
    font-weight: var(--desktop-h1-font-weight);
    left: calc(50% - 70px);
    letter-spacing: var(--desktop-h1-letter-spacing);
    line-height: var(--desktop-h1-line-height);
    position: absolute;
    text-align: center;
    top: 113px;
    white-space: nowrap;
}

.AboutUs .group {
    background-image: url(https://c.animaapp.com/HxNiPGyi/img/img.png);
    background-size: 100% 100%;
    height: 657px;
    left: calc((100% - 1142px)/2);
    position: absolute;
    top: 190px;
    width: 1142px;
}

.AboutUs .flexcontainer-wrapper {
    align-items: flex-start;
    background-color: var(--wight);
    border-radius: 20px;
    display: flex;
    gap: 10px;
    left: 4px;
    padding: 30px;
    position: absolute;
    top: 4px;
    width: 658px;
}

.AboutUs .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.AboutUs .text {
    align-self: stretch;
    color: var(--text);
    font-family: var(--desktop-paragraf-font-family);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 23.8px;
    position: relative;
}

.AboutUs .span {
    color: #1c1d2f;
    font-family: var(--desktop-paragraf-font-family);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 23.8px;
}

.AboutUs .frame-20 {
    align-items: flex-start;
    display: flex;
    gap: 4px;
    height: 208px;
    left: 4px;
    position: absolute;
    top: 445px;
    width: 1134px;
}

.AboutUs .txt-instance {
    align-self: stretch !important;
    flex: 1 !important;
}

.AboutUs .design-component-instance-node {
    align-self: stretch !important;
    width: 443px !important;
}

.AboutUs .txt-2 {
    color: var(--wight) !important;
}

.AboutUs .txt-3 {
    align-self: stretch !important;
    background-color: var(--violet-1) !important;
    flex: 1 !important;
    flex-grow: 1 !important;
}
