.Util1 {
    background-color: #fefefe;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Util1 .div-2 {
    background-color: var(--grey-1);
    height: 1600px;
    position: relative;

}

.Util1 .icon-send-square-1 {
    height: 40px !important;
    left: calc(1491px - 910px + 50%) !important;
    position: absolute !important;
    top: 100px !important;
    width: 40px !important;
}
.Util1 .footer-instance {
    left: 0 !important;
    position: absolute !important;
    bottom: 0 !important;
}
.Util1 .btn-big {
    align-items: center;
    background-color: var(--violet-1);
    border-radius: 8px;
    display: inline-flex;
    gap: 7px;
    justify-content: center;
    left:calc(1150px - 910px + 50%) ;
    padding: 8px 24px 10px;
    position: absolute;
    top: 190px;
}
.Util1 .btn-big3{
    align-items: center;
    background-color: var(--violet-1);
    border-radius: 8px;
    display: inline-flex;
    gap: 7px;
    justify-content: center;
    left:calc(1150px - 910px + 50%);
    padding: 8px 24px 10px;
    color: var(--wight);
    width: 327px;
}
.Util1 .text-wrapper-3{
    color: var(--wight);
    font-family: var(--desktop-paragraf-font-family);
    font-size: var(--desktop-paragraf-font-size);
    font-style: var(--desktop-paragraf-font-style);
    font-weight: var(--desktop-paragraf-font-weight);
    letter-spacing: var(--desktop-paragraf-letter-spacing);
    line-height: var(--desktop-paragraf-line-height);
}
.Util1 .text-wrapper-7 {
    color: var(--wight);
    font-family: var(--desktop-paragraf-font-family);
    font-size: var(--desktop-paragraf-font-size);
    font-style: var(--desktop-paragraf-font-style);
    font-weight: var(--desktop-paragraf-font-weight);
    letter-spacing: var(--desktop-paragraf-letter-spacing);
    line-height: var(--desktop-paragraf-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;

}

.Util1 .form {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--grey-4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    left: calc( -910px + 700px + 50%);
    padding: 30px;
    position: absolute;
    top: 190px;
    width: 374px;
}
.Util1 .form-stream{
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--grey-4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    left: calc( -910px + 700px + 50%);
    padding: 30px;
    position: absolute;
    top: 800px;
    width: 374px;
}
.Util1 .text-wrapper-8 {
    align-self: stretch;
    color: var(--text);
    font-family: var(--desktop-h5-font-family);
    font-size: var(--desktop-h5-font-size);
    font-style: var(--desktop-h5-font-style);
    font-weight: var(--desktop-h5-font-weight);
    letter-spacing: var(--desktop-h5-letter-spacing);
    line-height: var(--desktop-h5-line-height);
    margin-top: -1.00px;
    position: relative;
}

.Util1 .fild {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;

}

.Util1 .text-wrapper-9 {
    align-self: stretch;
    color: var(--grey-5);
    font-family: var(--desktop-paragraf-font-family);
    font-size: var(--desktop-paragraf-font-size);
    font-style: var(--desktop-paragraf-font-style);
    font-weight: var(--desktop-paragraf-font-weight);
    letter-spacing: var(--desktop-paragraf-letter-spacing);
    line-height: var(--desktop-paragraf-line-height);
    margin-top: -1.00px;
    position: relative;
}

.Util1 .fild-2 {
    align-self: stretch;
    background-color: var(--grey-3);
    border-radius: var(--dental-radius-radius-10);
    height: 40px;
    position: relative;
}

.Util1 .div-wrapper {
    align-items: center;
    align-self: stretch;
    background-color: var(--grey-3);
    border-radius: var(--dental-radius-radius-10);
    display: flex;
    gap: 10px;
    height: 40px;
    padding: 6px 20px 10px;
    position: relative;
}

.Util1 .text-wrapper-10 {
    color: var(--text);
    flex: 1;
    font-family: var(--desktop-paragraf-font-family);
    font-size: var(--desktop-paragraf-font-size);
    font-style: var(--desktop-paragraf-font-style);
    font-weight: var(--desktop-paragraf-font-weight);
    height: 22px;
    letter-spacing: var(--desktop-paragraf-letter-spacing);
    line-height: var(--desktop-paragraf-line-height);
    position: relative;
    white-space: nowrap;
}

.Util1 .group {
    height: 48px;
    left: calc( 1284px - 900px + 50%) ;
    position: absolute;
    top: 192px;
    width: 351px;
}

.Util1 .overlap-group {
    height: 48px;
    position: relative;
    width: 349px;
}


.Util1 .line {
    height: 14px;
    left: calc( 286px - 910px + 50%);
    object-fit: cover;
    position: absolute;
    top: 33px;
    width: 7px;
}

.Util1 .text-wrapper-11 {
    color: var(--text);
    font-family: var(--desktop-h1-font-family);
    font-size: var(--desktop-h1-font-size);
    font-style: var(--desktop-h1-font-style);
    font-weight: var(--desktop-h1-font-weight);
    left: calc( 700px - 910px + 50%);
    letter-spacing: var(--desktop-h1-letter-spacing);
    line-height: var(--desktop-h1-line-height);
    position: absolute;
    top: 113px;
    white-space: nowrap;
}

.Util1 .sidebar {
    align-items: flex-start;
    background-color: var(--grey-3);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: calc( 390px - 910px + 50%);
    padding: 10px;
    position: absolute;
    top: 114px;
    width: 277px;
}



.Util1 .sidebar-item-instance {
    align-self: stretch !important;
    flex: 0 0 auto !important;
}

.Util1 .icon-instance-node {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
}

.Util1 .line-2 {
    align-self: stretch;
    height: 1px;
    object-fit: cover;
    position: relative;

}

.Util1 .header-instance {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
}
.Util1 .followedChannels{
    left: calc(-910px + 700px + 50%);
    position: absolute !important;
    top: 190px;
}
html, body {

    overflow-x: hidden;
}