.slider {
    align-items: center;
    border-radius: var(--dental-radius-radius-8);
    display: inline-flex;
    justify-content: flex-end;
    position: relative;
}

.slider .icon-big-arrow-left-wrapper {
    align-items: center;
    background-color: var(--grey-4);
    border-radius: 12px 0px 0px 12px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.slider .icon-instance-node {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
}

.slider .div-2 {
    align-self: stretch;
    position: relative;
    width: 1px;
}

.slider .icon-big-arrow-right-wrapper {
    align-items: center;
    background-color: var(--grey-4);
    border-radius: 0px 12px 12px 0px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 10px;
    position: relative;
}
